<!DOCTYPE html>
<html lang="pt-br">
    {% include head.html %}
    <body>
        {% include svg-icons.html %}
        {% include header-post.html %}
        {% include tree-posts.html %}
        <section class="post" itemscope itemtype="http://schema.org/BlogPosting">
            {% if page.date %}
                <div class="time">
                    <time itemprop="datePublished" datetime="{{ page.date }}">{{ page.date | date_to_string }}</time>
                </div>
            {% endif %}
            <h1 class="post-title" itemprop="name">{{ page.title }}</h1>

            <article role="article" id="scroll" class="post-content" itemprop="articleBody">
                {{ content }}
            </article>

            {% include share.html %}
            <!-- Comments는 일단 주석처리 나중에 사용할 때 주석해제 -->
            <!-- {% include comments.html %} -->
            {% include footer.html %}
            {% include scripts.html %}
        </section>
    </body>
</html>
